* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Top bar styles */
.topnav {
    background-color: rgba(255, 225, 225, 0.15);
    overflow: hidden;
}

.topnav a {
    /*Puts the options to the right*/
    float: right;
    display: block;
    color: rgb(156, 194, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    /*Move the options in the center*/
    margin-top: 5px;
    margin-bottom: 5px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #eefa5e;
    color: white;
}

.topnav .icon {
    display: none;
}

#name {
    width: 30%;
    margin: 20px 0 0 20px;
    
}

/* Body Style */
.body {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1140px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto 0 auto;
}


h1 ,h2, h3 {
    color: white;
}

.context, #programminglang, #activites {
    color: rgb(156, 194, 255);
}

h1 {
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 120px;
}

li {
    text-align: left;
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 10px;
    list-style-type: square;
    list-style-position: inside;
}

.container {
    margin-top: 20px;
    width: auto;
    height: 650px;
}

.info {
    width: 75%;
    float: left;
    position: relative;
    right: 40px;
    background-color:rgba(100, 160, 162, 0.4);
    z-index: -1;
}

.picture {
    float: left;
    width: 25%;
    position: relative;
    left: 40px;
    top: 20px;
    text-align: center;
    padding: 10px;
    background-color: rgba(191, 171, 171, 0.58);
    z-index: 0;
    
}

h2 {
    margin-left: 140px;
    font-size: 25px;
    margin-bottom: 15px;
}

.context {
    margin-left: 160px;
    font-size: 20px;
    margin-bottom: 15px;
}

#github , #linkedin ,#youtube {
    height: 30px;
    width: 30px;
}

#act {
    list-style-type: square;
    list-style-position: inside;
    margin-left: 160px;
    padding: 10px;
    font-size: 18px;
}

#job {
    list-style-type: square;
    list-style-position: inside;
    margin-left: 160px;
    padding: 2px;
    font-size: 18px;
}

h3 {
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#h3 {
    margin-left: 160px;
    font-size: 20px;
    color: rgb(196, 211, 235);
}

.bottom {
    position: relative;
    margin-top: 300px; 
    background-color: rgba(255, 225, 225, 0.15);
    text-align: right;
    max-height: 100px;
}

#copyright {
    padding: 10px;
    font-size: 15px;
    font-family: sans-serif;
    color: rgb(156, 194, 255);
}
