* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/Gray-Wallpaper-Light-234.jpg);
    background-size: cover;
}

.topnav {
    background-color: rgba(255, 255, 255, 0.53);
    overflow: hidden;
}

.topnav a {
    /*Puts the options to the right*/
    float: right;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    /*Move the options in the center*/
    margin-top: 5px;
    margin-bottom: 5px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

b {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;

    font-family: sans-serif;
}

img {
    padding: 50px;
    height: 600px;
    width: 450px;
    display: block;
}



h1, h2 {
    color: black;
    font-family: sans-serif;
    font-size: 40px;
    margin-left: 450px;
    position: relative;
    bottom: 430px;
}

h2 {
    bottom: 450px;
    font-size: 25px;
}

.body1{
    width: 100%;
    height: 100%;
}

.intro {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 125px;
    max-height: 700px;
    margin-bottom: 125px;
    background-color: rgba(255, 255, 255, 0.53);
}

.preload {
    width: 100%;
    height: 100%;
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo {
    width: 300px;
    height: 70px;
    margin: 150px auto 50px auto;
    font-size: 50px;
    text-shadow: -1px 2px 2px #000;
    text-align: center;
    color: azure;
}

.loader-frame {
    width: 70px;
    height: 70px;
    margin: auto;
    position: relative;
}

.loader1 , .loader2 {
    position: absolute;
    border: 5px solid transparent;
    border-radius: 50%;
    
}

.loader1 {
    width: 70px;
    height: 70px;
    border-top: 5px solid azure;
    border-bottom: 5px solid azure;
    animation: clockwisespin 2s linear 3;
}

.loader2 {
    width: 60px;
    height: 60px;
    border-left: 5px solid #dd2e2e;
    border-right: 5px solid #dd2e2e;
    top: 5px; left: 5px;
    animation: anticlockwisespin 2s linear 3;
}

@keyframes clockwisespin {
    from {transform: rotate(90deg);}
    to {transform: rotate(450deg);}
}

@keyframes anticlockwisespin {
    from {transform: rotate(-90deg);}
    to {transform: rotate(-450deg);}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

/*Projects.html*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.bottom {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.53);
}

#copyright {
    margin-left: 1250px;
    margin-right: 0px;
    position: inherit;
    
}

#Maintext {
    position: relative;
    margin-left: 450px;
    margin-right: 100px;
    bottom: 450px;
    font-family: sans-serif;
    color: black;
}
